{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@actions": "./src/js/actions/index.ts",
          "@actionTypes": "./src/js/actions/types.ts",
          "@components": "./src/js/components",
          "@helpers": "./src/js/helpers.tsx",
          "@reducers": "./src/js/reducers"
        }
      }
    ]
  ]
}
